<p>Hey dear friend,</p>
<p>Please click below to confirm your email and continue reset password</p>
<p>
  <a href='{{url}}'>Confirm and continue</a>
</p>

<p>You have 5 minutes for resetting your password</p>

<p>If you did not request this email you can safely ignore it.</p>